name: achievement_view
description: Beautiful toast to show Achievements in your application in a simple way
version: 0.2.0
author: RafaelBarbosatec<rafaelbarbosatec@gmail.com>
homepage: https://github.com/RafaelBarbosatec/achievement_view_flutter

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
